<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255973384963-lhd86a015ue15klfk4ufa1u6pejjemo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255973384963-lhd86a015ue15klfk4ufa1u6pejjemo9</string>
	<key>API_KEY</key>
	<string>AIzaSyDMIdEVvyg_5s3rV8DAwZUx5XrLJbnN6Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>255973384963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripLife</string>
	<key>PROJECT_ID</key>
	<string>triplife-ced4d</string>
	<key>STORAGE_BUCKET</key>
	<string>triplife-ced4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255973384963:ios:9f8946eeef6e30b6473f36</string>
</dict>
</plist>